NEXT_PUBLIC_STRAPI_URL=
NODE_ENV=

# Secrets
APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=
ENCRYPTION_KEY=

# Database configuration
DATABASE_CLIENT=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=

# Postgres configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
JWT_SECRET=

# idk what this is but it is here since forever
COMPOSE_BAKE=true

# strapi api
STRAPI_API_TOKEN=
# strapi api url
STRAPI_API_URL=
STRAPI_URL=